body {
    background-image: url(./images/fonsoCss.webp);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */

}

body>img {
    position: absolute;
    top: 428px;
    right: 0px;
    width: 350px;

}

#game-intro {
    height: 500px;
    width: 700px;
    position: absolute;
    z-index: 0;
}

#start-button {
    top: 320px;
    left: 310px;
    position: absolute;
    z-index: 1;
}

#game-over {

    position: absolute;
    top: auto z-index: 0;

}

#restart {
    top: 320px;
    left: 310px;
    position: absolute;
    z-index: 0;
}

#poke-run {
    position: absolute;
    z-index: 0;
}

#game-board {
    /* display: flex; */
    position: absolute;

    z-index: 0;
}

#pantalla {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}